In [25]:
import pandas as pd

In [26]:
prol = pd.read_csv("prolongations.csv")
fin = pd.read_csv("financial_data.csv")

# Подготовка данных 
1.Получение первичной информации о менеджере из другой таблицы и о месяце окончания проекта

In [28]:
fin_merged = fin.merge(prol[["id", "AM", "month"]], on="id", how="left")
fin_merged

,id,Причина дубля,Ноябрь 2022,Декабрь 2022,Январь 2023,Февраль 2023,Март 2023,Апрель 2023,Май 2023,Июнь 2023,...,Август 2023,Сентябрь 2023,Октябрь 2023,Ноябрь 2023,Декабрь 2023,Январь 2024,Февраль 2024,Account,AM,month
0,42,NaN,"36 220,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович,Васильев Артем Александрович,ноябрь 2022
1,657,первая часть оплаты,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович,Васильев Артем Александрович,ноябрь 2022
2,657,вторая часть оплаты,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович,Васильев Артем Александрович,ноябрь 2022
3,594,NaN,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович,Васильев Артем Александрович,ноябрь 2022
4,665,NaN,"10 000,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович,Васильев Артем Александрович,ноябрь 2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
721,281,доп работы,"21 450,00","13 300,00","15 900,00","19 850,00","17 350,00","14 650,00","15 900,00","3 000,00",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Соколова Анастасия Викторовна,Соколова Анастасия Викторовна,декабрь 2023
722,785,NaN,NaN,NaN,NaN,"5 306,60","12 898,10","5 287,00","10 180,00","8 600,00",...,"8 600,00","700,00","700,00",в ноль,в ноль,NaN,NaN,Соколова Анастасия Викторовна,Михайлов Андрей Сергеевич,февраль 2023
723,785,NaN,NaN,NaN,NaN,"5 306,60","12 898,10","5 287,00","10 180,00","8 600,00",...,"8 600,00","700,00","700,00",в ноль,в ноль,NaN,NaN,Соколова Анастасия Викторовна,Соколова Анастасия Викторовна,декабрь 2023
724,913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"58 200,00","58 200,00","58 200,00","58 200,00","58 200,00",NaN,NaN,Смирнова Ольга Владимировна,Смирнова Ольга Владимировна,декабрь 2023
725,930,первая часть оплаты,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"36 687,50","31 152,50","30 350,00","34 547,50","25 750,00","25 600,00",Кузнецов Михаил Иванович,NaN,NaN

2.Исключение проектов с "стоп" или "end" в последнем месяце реализации или раньше него

In [30]:
fin_merged.columns = fin_merged.columns.str.lower().str.replace(' ', '')
fin_merged["month"] = fin_merged["month"].str.lower().str.replace(' ', '')

fin_merged["status"] = True

for row in range(len(fin_merged)):
    for col_num in range(len(fin_merged.columns)):
        col = fin_merged.columns[col_num]
        if fin_merged.at[row, "month"] == col:
            for i in range (col_num + 1): 
                if fin_merged.iloc[row, i] in ["end", "стоп"]:
                    fin_merged.at[row, "status"] = False
    

fin_merged = fin_merged[fin_merged["status"]==True]
fin_merged

,id,причинадубля,ноябрь2022,декабрь2022,январь2023,февраль2023,март2023,апрель2023,май2023,июнь2023,...,сентябрь2023,октябрь2023,ноябрь2023,декабрь2023,январь2024,февраль2024,account,am,month,status
0,42,NaN,"36 220,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович,Васильев Артем Александрович,ноябрь2022,True
4,665,NaN,"10 000,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович,Васильев Артем Александрович,ноябрь2022,True
5,637,NaN,"38 045,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Соколова Анастасия Викторовна,Соколова Анастасия Викторовна,ноябрь2022,True
6,419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Михайлов Андрей Сергеевич,Михайлов Андрей Сергеевич,ноябрь2022,True
7,578,NaN,"82 800,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Попова Екатерина Николаевна,Попова Екатерина Николаевна,ноябрь2022,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
721,281,доп работы,"21 450,00","13 300,00","15 900,00","19 850,00","17 350,00","14 650,00","15 900,00","3 000,00",...,NaN,NaN,NaN,NaN,NaN,NaN,Соколова Анастасия Викторовна,Соколова Анастасия Викторовна,декабрь2023,True
722,785,NaN,NaN,NaN,NaN,"5 306,60","12 898,10","5 287,00","10 180,00","8 600,00",...,"700,00","700,00",в ноль,в ноль,NaN,NaN,Соколова Анастасия Викторовна,Михайлов Андрей Сергеевич,февраль2023,True
723,785,NaN,NaN,NaN,NaN,"5 306,60","12 898,10","5 287,00","10 180,00","8 600,00",...,"700,00","700,00",в ноль,в ноль,NaN,NaN,Соколова Анастасия Викторовна,Соколова Анастасия Викторовна,декабрь2023,True
724,913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"58 200,00","58 200,00","58 200,00","58 200,00",NaN,NaN,Смирнова Ольга Владимировна,Смирнова Ольга Владимировна,декабрь2023,True
725,930,первая часть оплаты,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"36 687,50","31 152,50","30 350,00","34 547,50","25 750,00","25 600,00",Кузнецов Михаил Иванович,NaN,NaN,True

3.Преобразование всех чисел в правильный формат

In [33]:
fin_m = fin_merged.columns[2:-3] #берём только колонки с отгрузками
for i in fin_merged.index:
    for col in fin_m:
        val = fin_merged.at[i, col]
        if pd.isna(val) or val in ["стоп", "end", "в ноль"]:
            fin_merged.at[i, col] = 0
        else:
            try:
                val_str = float(str(val).replace("\xa0", "").replace(" ", "").replace(",", "."))
            except:
                fin_merged.at[i, col] = 0
            fin_merged.at[i, col] = val_str     
fin_merged

,id,причинадубля,ноябрь2022,декабрь2022,январь2023,февраль2023,март2023,апрель2023,май2023,июнь2023,...,сентябрь2023,октябрь2023,ноябрь2023,декабрь2023,январь2024,февраль2024,account,am,month,status
0,42,NaN,36220.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,36220.0,Васильев Артем Александрович,ноябрь2022,True
4,665,NaN,10000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,10000.0,Васильев Артем Александрович,ноябрь2022,True
5,637,NaN,38045.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,38045.0,Соколова Анастасия Викторовна,ноябрь2022,True
6,419,NaN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,38045.0,Михайлов Андрей Сергеевич,ноябрь2022,True
7,578,NaN,82800.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,82800.0,Попова Екатерина Николаевна,ноябрь2022,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
721,281,доп работы,21450.0,13300.0,15900.0,19850.0,17350.0,14650.0,15900.0,3000.0,...,0,0,0,0,0,0,3000.0,Соколова Анастасия Викторовна,декабрь2023,True
722,785,NaN,0,0,0,5306.6,12898.1,5287.0,10180.0,8600.0,...,700.0,700.0,0,0,0,0,700.0,Михайлов Андрей Сергеевич,февраль2023,True
723,785,NaN,0,0,0,5306.6,12898.1,5287.0,10180.0,8600.0,...,700.0,700.0,0,0,0,0,700.0,Соколова Анастасия Викторовна,декабрь2023,True
724,913,NaN,0,0,0,0,0,0,0,0,...,58200.0,58200.0,58200.0,58200.0,0,0,58200.0,Смирнова Ольга Владимировна,декабрь2023,True
725,930,первая часть оплаты,0,0,0,0,0,0,0,0,...,36687.5,31152.5,30350.0,34547.5,25750.0,25600.0,25600.0,NaN,NaN,True

4. Суммирование строк с повторяющимися id (так как это части общей отгрузки)

In [36]:
fin_groupped = fin_merged.groupby(["id"])[fin_m].sum().reset_index()
fin_groupped

,id,ноябрь2022,декабрь2022,январь2023,февраль2023,март2023,апрель2023,май2023,июнь2023,июль2023,август2023,сентябрь2023,октябрь2023,ноябрь2023,декабрь2023,январь2024,февраль2024,account
0,15,2196400.0,2196400.0,512168.75,512168.75,512168.75,690790.0,690790.0,512168.75,0,0,0,0,0,0,0,0,1061268.75
1,16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4715.0
2,31,55100.0,55100.0,0,44775.0,44775.0,44775.0,44775.0,44775.0,44775.0,44775.0,44775.0,44775.0,44775.0,44775.0,44775.0,46200.0,46200.0
3,39,275400.0,275400.0,298413.0,298413.0,298413.0,298413.0,298413.0,298413.0,298413.0,298413.0,298413.0,298413.0,298413.0,298413.0,0,0,298413.0
4,42,36220.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,36220.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,1001,0,0,0,0,0,0,0,0,0,0,0,0,290000.0,0,0,0,290000.0
275,1004,0,0,0,0,0,0,0,0,0,0,0,0,34000.0,0.0,0,0,0.0
276,1006,0,0,0,0,0,0,0,0,0,0,0,145195.0,140495.0,140495.0,0,0,140495.0
277,1012,0,0,0,0,0,0,0,0,0,0,0,0,98492.0,109442.52,0,0,109442.52
278,1015,0,0,0,0,0,0,0,0,0,0,0,0,163700.0,15000.0,0,0,75000.0